/* Estilos básicos para os cards */
.user-card,
.tcc-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 200px; /* Defina o tamanho máximo */
    width: 80%; /* Garanta que os cards ocupem toda a largura máxima */
}

/* Alinhar os cards horizontalmente */
.user-cards,
.tcc-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Estilização do link */
.btn-link {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;

}

/* Estilização do botão */
.btn {
    background-color: #4D3F8F;
    color: #fff;
    border: 2px solid #4D3F8F;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* Estilização do botão no hover */
.btn:hover {
    background-color: #fff;
    color: #4D3F8F;
    border-color: #4D3F8F;
}

.user-card img {
    width: 100%; /* Largura desejada */
    height: 120px; /* Altura desejada */
    object-fit: cover; /* Evita distorções e mantém a proporção */
}
.tcc-card img {
    width: 100%; /* Largura desejada */
    height: 120px; /* Altura desejada */
    object-fit: cover;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .user-card,
    .tcc-card {
        width: calc(50% - 20px); /* Ajuste a largura para telas menores */
    }
}


.user-card-2 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 120px; /* Defina o tamanho máximo */
    width: 100%; /* Garanta que os cards ocupem toda a largura máxima */
    font-size: 12px;
}
.user-card-2 img {
    width: 100%; /* Largura desejada */
    height: 100px; /* Altura desejada */
    object-fit: cover; /* Evita distorções e mantém a proporção */
}

.adicionar-usuario {
    background-color: #4D3F8F;
    color: #fff;
    padding: 3px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Preenche a altura da viewport */
}

main {
    flex: 1;
    width: 90%;
    margin-top: 20px;
}

main h2 {
    margin-top: 20px;
}