body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}
.odst a {
    font-size: 1.1em;
}
main {
    flex-grow: 1;
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    padding: 50px;
    width: 85%;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.alerta {
    color: #851923;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    background: #ffe3e5;
    border: 1px solid #dfa5ab;
    margin-top: 10px;
}
.formhead h2 {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.formcontent {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.formselect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.formselect label {
    margin-bottom: 5px;
}

.formselect select {
    width: 80%;
    height: 40px;
    padding: 0 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.odsselect {
    width: 80%;
    margin-top: 25px;
}

.odsselect p {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.odsbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgb(250, 250, 250);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.odsbox::-webkit-scrollbar {
    width: 8px;
}
.odsbox::-webkit-scrollbar-track {
    background: #d2cbf5;
}
.odsbox::-webkit-scrollbar-thumb {
    background: #7d6dc2;
    border-radius: 6px;
}
.odsbox::-webkit-scrollbar-thumb:hover {
    background: #4D3F8F;
}

.custom-checkbox {
    margin: 7px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox img {
    width: 90px;
    height: 90px;
    filter: grayscale(100%);
}

.custom-checkbox input[type="checkbox"]:checked+img {
    filter: grayscale(0%);
    scale: 1.1;
    animation: vibrateBlinkAndRotate 2s ease infinite;
}

.custom-checkbox input[type="checkbox"]:hover+img {
    filter: grayscale(0%);
    scale: 1.1;
}

.formbutton {
   margin-top: 30px;
   display: flex;
   justify-content: center;
}
.formbutton input {
    width: 30%;
    font-size: 1.05em;
    background-color: #4d3f8f;
    padding: 10px 3px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;    
}

.formbutton input:hover {
    background-color: #fff;
    color: #4D3F8F;
    border: 1px solid #4D3F8F;
}
.cardtcc {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
}
.cardtcc img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.cardtcc-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardtcc a {
    display: block;
    padding: 4px;
    text-decoration: none;
    background-color: #4D3F8F;
    color: #fff;
    border: 1px solid #4D3F8F;
    border-radius: 6px;
}

.cardtcc a:hover {
    background-color: #fff;
    color: #4D3F8F;
}

.cardtcc h3 {
    margin: 0;
    font-size: 18px;
}

.cardtcc p {
    margin: 5px 0;
    font-size: 14px;
}

.box {
    display: flex;
}

.resumo {
    max-height: 120px;
    max-width: 95%;
    word-wrap: break-word;
    overflow-y: auto;
    text-align: justify;
    padding-right: 5px;
}

.resumo::-webkit-scrollbar {
    width: 8px;
}

.resumo::-webkit-scrollbar-track {
    background: #d2cbf5;
}

.resumo::-webkit-scrollbar-thumb {
    background: #7d6dc2;
    border-radius: 6px;
}

.resumo::-webkit-scrollbar-thumb:hover {
    background: #4D3F8F;
}

@media screen and (max-width: 760px) {
    .cardtcc {
        flex-direction: column;
    }
    .cardtcc a{
        width: 30%;
        text-align: center;
    }
    .cardtcc img {
        width: 120px;
        height: 120px;
}
    .box {
        flex-direction: column;
        width: 100%;
    }
    .imgbox {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 700px){
    main {
        padding: 20px;
    }
    .formcontent {
        flex-direction: column;
        align-items: center;
    }
    .formselect {
        width: 100%;
        margin-top: 10px;
    }
    .odsbox {
        width: 100%;
    }
}


@keyframes vibrateBlinkAndRotate {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    25% {
      transform: translateX(-1px) rotate(1);
    }
    50% {
      transform: translateX(1px) rotate(-1deg);
    }
    75% {
      transform: translateX(-1px) rotate(1deg);
    }
  }

