.sub-container6{
    width: 900px;
    margin: 0px auto;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-left: 20px;
    align-items: center;
    display: flex;
}

.slider-container2 {
    margin: 0 auto;
    width: 800px;
    height: 400pxpx;
    overflow: hidden;
    display: flex;
}

.slides3{
    position: relative;
    display: flex;
    width: calc(150px *17);
}

.slide3{
    width: 190px;
    flex-shrink: 0;
    transition: 2s;
}

#prev-button2 {
    width: 40px;
    height: 50px;
    background-color: transparent;
    border: none;
}

#next-button2{
    width: 40px;
    height: 50px;
    background-color: transparent;
    border: none;
}

#next-button2 img{
    width: 30px;
    height: 40px;
}

#prev-button2 img{
    width: 30px;
    height: 40px;
}

.slides3 {
    transition: transform 1s;
}

@media screen and (max-width: 950px){
    .sub-container6 {
        width: 800px;
    }
    .slider-container2 {
        width: 700px;
    }
}

@media screen and (max-width: 820px){
    .sub-container6 {
        width: 700px;
    }
    .slider-container2 {
        width: 600px;
    }
}
@media screen and (max-width: 720px){
    .sub-container6 {
        width: 600px;
    }
    .slider-container2 {
        width: 500px;
    }
}

@media screen and (max-width: 620px){
    .sub-container6 {
        width: 500px;
    }
    .slider-container2 {
        width: 400px;
    }
}

@media screen and (max-width: 520px){
    .sub-container6 {
        width: 400px;
    }
    .slider-container2 {
        width: 300px;
    }
}