

.carrossel-main{
    width: 900px;
    margin: 0px auto;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-left: 20px;
    align-items: center;
    display: flex;

}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    z-index: 0;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide .img1 {
    width: 800px;
    height: 430px;
}

.slide .img2 {
    width: 800px;
    height: 430px;
}
.img1red{
    display: none;
}
.img2red{
    display: none;
}
.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: #78A1D1;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

.navigation-auto div{
    border: 2px solid #1547E0;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position:absolute;
    width: 800px;
    margin-top: 390px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #78A1D1;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #78A1D1;
}


.botoes{
    position: absolute;
    top: 310px; left: 60px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.botoes a:nth-child(1){
    box-shadow: 10px -5px 0px #4D3F8F;
}
.botoes a:nth-child(2){
    box-shadow: 10px -5px 0px #FFE600;
}

.botoes a:nth-child(1):hover{
    transform: scale(1.1);
    box-shadow: none;
    background-color: #4D3F8F;
    color: #fff;
    transition: 0.3s;
}
.botoes a:nth-child(2):hover{
    transform: scale(1.1);
    box-shadow: none;
    background-color: #FFE600;
    color: #000;
    transition: 0.3s;
}
.botoes a {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    display: inline-block;
    padding: 10px 0px;
    width: 160px;
    text-align: center;
    border: black 2px solid;
    border-radius: 12px;
}

@media screen and (max-width: 970px) {
    .carrossel-main{
        width: 700px;
    }
    .slider {
        width: 600px;
    }
    .slide .img1, .slide .img2{
        width: 600px;
        height: 350px;
    }
    
    .manual-navigation, .navigation-auto{
        width: 600px;
    }
    .navigation-auto div{
        border: 2px solid black;
    }
    .botoes{
        width: 350px;
        left: 40px;
        top: 270px;
    }
    .botoes a {
        width: 140px;
        padding: 8px 0px;
    }

}
@media screen and (max-width: 720px) {
    .carrossel-main{
        width: 600px;
    }
    .slider {
        width: 500px;
    }
    .slide .img1, .slide .img2{
        width: 500px;
        height: 350px;
    }
    
    .manual-navigation, .navigation-auto{
        width: 500px;
    }
    .navigation-auto div{
        border: 2px solid black;
    }
    .botoes{
        width: 300px;
        left: 40px;
        top: 270px;
    }
    .botoes a {
        width: 100px;
        padding: 8px 0px;
    }

}

@media screen and (max-width: 620px) {
    .carrossel-main {
        width: 500px;
    }
    .slider {
        width: 400px;
    }
    .slider .img1, .slide .img2 {
        display: none;
    }
    .img1red, .img2red {
        display: block;
        width: 400px;
        height: 350px;
    }
    .botoes {
        left: 0;
        justify-content: space-evenly;
        width: 250px;
    }
    .manual-navigation, .navigation-auto{
        width: 400px;
    }
}

@media screen and (max-width: 520px) {
    .carrossel-main {
        width: 400px;
    }
    .slider {
        width: 370px;
    }
    .slider .img1, .slide .img2 {
        display: none;
    }
    .img1red, .img2red {
        display: block;
        width: 370px;
        height: 350px;
    }
    .botoes {
        top: 240px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 180px;
    }
    .botoes a {
        margin-bottom: 20px;
    }
    .manual-navigation, .navigation-auto{
        width: 370px;
    }
}

