@font-face {
    font-family: 'Cunia';
    src: url('../fonts/Cunia/cunia-webfont.woff2') format('woff2'),
         url('../fonts/Cunia/cunia-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


nav {
    display: flex;
    width: 100%;
    background-color: #4D3F8F;
    position: sticky;
    top: 0;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
    z-index: 1;
}

nav .icon a {
    display: inline-flex;
    align-items: center;
    font-family: 'Cunia', sans-serif;
    font-size: 1.8em;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    
}
nav .icon a .logo64 {
    display: inline-flex;
}
nav .icon a .logo48 {
    display: none;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: auto 0;
}
nav ul li {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
}
nav ul li a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ul li:hover a{
    background-color: #FFF;
    color: #4D3F8F;
    transition: 0.2s;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu{
    position: absolute;
    display: none;
    right: 0px;
    margin-top: 5px;
}
.dropdown-menu li {
    display: block;
}
.dropdown-menu li a {
    display: block;
    background-color: #fff;
    color: #4D3F8F;
    padding: 10px;
    box-shadow: inset 0px 3px 5px rgba(0,0,0, 0.4);
}
.dropdown-menu li:hover a {
    background-color: #4D3F8F;
    color: #fff;
}

nav .search-box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    border-radius: 6px 0px 0px 6px;
}

nav .search-box input {
    border: none;
    outline: none;
    background-color: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 1.1em;
    width: 350px;
    border-radius: 6px 0px 0px 6px;
}

nav .search-box span {
    color: #4D3F8F;
    font-size: 1.1em;
    background-color: #FFF;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search-box span:hover {
    color: #fff;
    background-color: #4D3F8F;
    transition: 0.2s;
}

nav .search-box .adv-search {
    color: #4D3F8F;
    font-size: 1.1em;
    background-color: #FFF;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 0px 4px;
    text-decoration: none;
    border-left: 1px solid #4D3F8F;
    border-radius: 0px 5px 5px 0px;
}

nav .search-box .adv-search:hover {
    color: #fff;
    background-color: #4D3F8F;
    transition: 0.2s;
}

nav ul .adv-search {
    display: none;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    position: absolute;
    color: #fff;
    font-size: 2em;
}
input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 1250px){
    nav {
        display: block;
        padding: 0;
    }
    nav .icon {
        display: inline-block;
        padding: 15px 30px;
    }
    nav .icon a .logo64 {
        display: none;
    }
    nav .icon a .logo48 {
        display: inline-flex;
    }
    nav .search-box {
        width: 90%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search-box input {
        width: 90%;
    }
    nav .search-box a {
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ul .adv-search {
        display: block;
    }
    nav ul .adv-search a {
        color: #4D3F8F;
        background-color: #fff;
    }
    nav ul .adv-search:hover a {
        color: #fff;
        background-color: #4D3F8F;
    }
    nav ul li {
        text-align: center;
    }
    nav ul li a {
        font-size: 1.4em;
        padding: 25px;
        display: block;
    }
    nav ul li:hover a{
        box-shadow: inset 0px 3px 5px rgba(0,0,0, 0.4);
    }
    .dropdown-menu{
        position: relative;
        margin-top: 0;
    }
    nav .bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times {
        display: none;

    }
    #check:checked ~ nav .bar #times {
        display: block;
    }
    #check:checked ~ nav .bar #bars {
        display: none;
    }
    #check:checked ~ nav ul {
        visibility: visible;
        height: 330px;
    }
}

/* Footer styles */

footer {
    display: flex;
    width: 100%;
    background-color: #4D3F8F;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
footer .icon a{
    display: inline-flex;
    align-items: center;
    font-family: Cunia, sans-serif;
    font-size: 1.8em;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}
footer ul {
    display: flex;
    list-style: none;
    margin: auto 0;
}

footer ul li {
    margin: 0 2px;
}

footer ul li a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
}
footer ul li a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 700px) {
    footer {
        display: block;
        text-align: left;
    }
    footer ul {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    footer ul li a {
        font-size: 1em;
        padding: 6px;
        display: block;
    }
}