
body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

main {
    flex-grow: 1; 
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    padding: 50px;
    width: 65%;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.cancelar1 {
    width: 150px;
    text-align: center;
    color:  #4D3F8F;
    text-decoration: none;
}
.cancelar1:hover{
    text-decoration: underline;
}
.perfil-parte,
.perfil-edit {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.edit-filho {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
#imagem-preview {
    width: 150px; /* Largura desejada */
    height: 180px; /* Altura desejada */
    object-fit: cover; /* Evita distorções e mantém a proporção */
}
.inputsenha {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputsenha .edit-filho {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.inputsenha > input,
.inputsenha button,
.button a,
.fotoinput {
    display: block;
    text-align: center;
    font-size: 1.05em;
    background-color: #4D3F8F;
    width: 150px;
    padding: 10px 0px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.inputsenha > input:hover,
.inputsenha button:hover,
.button a:hover,
.fotoinput:hover {
    background-color: #fff;
    border: 1px solid #4D3F8F;
    color: #4D3F8F;
    transition: 0.2s;
}

.txts {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}
.txts .txt {
    margin-right: 30px;
}

.button {
    a,
    input,
    .fotoinput {
        display: block;
        text-align: center;
        font-size: 1.05em;
        background-color: #4D3F8F;
        width: 150px;
        padding: 10px 0px;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
    }
}

.button a:hover,
.button input:hover,
.fotoinput:hover, #botaosenha.ativo {
    background-color: #fff;
    border: 1px solid #4D3F8F;
    color: #4D3F8F;
    transition: 0.2s;
}

hr {
    margin-top: 10px;
}

.perfil-parte2 {
    margin-top: 30px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.botoes button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 1.1em;
    transition: 0.2s;
    cursor: pointer;
}

.botoes button:hover {
    color: #4D3F8F;
    text-decoration: underline;
}

.botoes button:active,
.botoes button.active {
    border-bottom: 2px solid #4D3F8F;
    transform: scale(1.1);
}

#conteudo {
    margin-top: 30px;
    width: 100%;
}

.info h3,
.info2 h3 {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    font-size: 1.1em;
}

.links-info {
    padding: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    font-size: 0.95em;
    flex-direction: column;
}

.links-info a,
.links-info p {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.links-info img {
    display: block;
    margin-right: 15px;
    height: 42px;
    width: 42px;
}

.links-info a {
    text-decoration: none;
    color: #4D3F8F;
}

.links-info a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.info2 p {
    padding: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 8px 8px;
    font-size: 0.9em;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
}
.botoes ul {
    list-style: none;
}
.input {
    width: 45%;
    margin-bottom: 15px;
}

.input input,
textarea,
.input select {
    margin: 6px 0;
    width: 100%;
    height: 40px;
    padding: 0 8px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input input:focus,
.input select:focus,
.input select:valid,
textarea:focus,
.input input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    border: 2px solid #4D3F8F;
}

textarea {
    height: 80px;
    resize: none;
}
.auxedit-filho {
    margin-top: 80px;
}

.error-text {
    display: none;
    width: 100%;
    color: #851923;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    background: #ffe3e5;
    border: 1px solid #dfa5ab;
    margin-bottom: 8px;
}
input[type="date"] {
    border: 1px solid #ccc !important;
    outline: none !important;
}

/* Defina um estilo de foco personalizado com !important para dar prioridade a esta regra */
input[type="date"]:focus {
    border: 2px solid #4D3F8F !important;
}

/* Estilo para manter a borda após a inserção de uma data */
input[type="date"].data-filled {
    border: 2px solid #4D3F8F !important;
}

.input input[type="submit"] { 
        display: block;
        text-align: center;
        font-size: 1.05em;
        background-color: #4D3F8F;
        width: 150px;
        padding: 10px 0px;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
}

.input input[type="submit"]:hover {
    background-color: #fff;
    border: 1px solid #4D3F8F;
    color: #4D3F8F;
    transition: 0.2s;
}

.cursos-perfil {
    list-style-type: disc; /* Define o tipo de marcador de lista (pontos) */
    padding: 0; /* Remove o preenchimento (padding) */
    margin: 0; /* Remove a margem */
}

.cursos {
    margin-left: 20px; /* Adicione um recuo personalizado se necessário */
}

#cursos-atuais {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
#cursos-disponiveis {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.minibuttons {
    color: #4D3F8F;
    transition: 0.2s;
}
.minibuttons:hover {
    color: #7664c9;
    scale: 1.2;
}

.sobreinput {
    width: 100%;
}
textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background: #d2cbf5;
}

textarea::-webkit-scrollbar-thumb {
    background: #7d6dc2;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #4D3F8F;
}

textarea {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
@media screen and (max-width: 1300px){
    main {
        width: 80%;
    }
}

@media screen and (max-width: 1070px){
    .perfil-parte {
        justify-content: space-between;
    }
    .perfil-parte #foto-perfil {
        width: fit-content;
    }
    .perfil-parte .txts {
        width: 70%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 930px){
    main {
        width: 85%;
    }
}

@media screen and (max-width: 860px){
    .perfil-parte {
        align-items: flex-start;
    }
    .perfil-parte .txts {
        flex-direction: column;
        width: 65%;
    }
    .txts .txt {
        margin-bottom: 10px;
    }
    .cursos-perfil {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cursos-perfil li {
        width: 40%;
        margin-bottom: 3px;
    }

}

@media screen and (max-width: 760px){
    main {
        width: 90%;
    }
    .perfil-parte {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .perfil-parte .txts {
        width: 90%;
    }
}
@media screen and (max-width: 630px){
    main {
        width: 95%; 
        padding: 10px;
        padding-top: 20px;
    }
    .perfil-parte .txts {
        flex-direction: row;
    }
    .cursos-perfil {
        display: block;
    }
    .cursos-perfil li {
        width: 100%;
        margin-bottom: 3px;
    }

    .edit-filho {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputs {
        margin-top: 15px;
        width: 100%;
    }
    .auxedit-filho {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .auxedit-filho .inputsenha {
        width: 100%;
    }
}

@media screen and (max-width: 530px){
    .botoes {
        width: 80%;
    }
}

@media screen and (max-width: 460px){
    .txts {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 420px){
    .perfil-parte .txts{
        flex-direction: column;
    }
}
.nome {
    width: 100%;
}
.linkedin {
    width: 100%;
}