@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.custom-popup-class .swal2-confirm {
    color: #4D3F8F !important; /* Defina a cor do texto do botão de confirmação */
    font-size: 1.1em;
    border-radius: 6px;
    padding: 10px 20px !important; /* Adicione padding ao botão */
    border: none !important; /* Remova a borda do botão */
    outline: none !important; /* Remova o contorno do botão */
    width: 200px !important; /* Defina uma largura maior para o botão */
}

.custom-popup-class .swal2-confirm:hover{
    background-color: #4D3F8F;
    color: #fff !important; 
    border: 1px solid #fff !important;
    cursor: pointer;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Preenche a altura da viewport */
}
main {
    flex: 1;
}
header {
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header p {
    margin-top: 20px;
    font-size: 1.1em;
}

header .search-box {
    margin-top: 20px;
}

/* search-box */

.search-box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    border: 1px solid #4D3F8F;
    border-radius: 6px;
    width: fit-content;
}
.search-box input {
    border: none;
    outline: none;
    background-color: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 1.1em;
    width: 350px;
    border-radius: 6px;
}
.search-box span {
    color: #4D3F8F;
    font-size: 1.1em;
    background-color: #FFF;
    height: 100%;
    padding: 8px;
    cursor: pointer;
}
.search-box span:hover {
    color: #fff;
    background-color: #4D3F8F;
    transition: 0.2s;
}
.search-box .adv-search {
    color: #4D3F8F;
    font-size: 1.1em;
    background-color: #FFF;
    height: 100%;
    cursor: pointer;
    padding: 0px 4px;
    text-decoration: none;
    border-left: 1px solid #4D3F8F;
    border-radius: 0px 5px 5px 0px;
}
.search-box .adv-search:hover {
    color: #fff;
    background-color: #4D3F8F;
    transition: 0.2s;
}

@media screen and (max-width: 600px){
    .search-box input {
        width: 200px;
    }
}

.odst {
    display: flex;
    align-items: center;
}

.odst a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.odst a span {
    display: block;
    margin-left: 5px;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: -1px;
}

.odst a:hover span {
    text-decoration: underline;

}
.user-card,
.tcc-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 200px; /* Defina o tamanho máximo */
    width: 80%; /* Garanta que os cards ocupem toda a largura máxima */
}

/* Alinhar os cards horizontalmente */
.user-cards,
.tcc-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Estilização do link */
.btn-link {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;

}

/* Estilização do botão */
.btn {
    background-color: #4D3F8F;
    color: #fff;
    border: 2px solid #4D3F8F;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* Estilização do botão no hover */
.btn:hover {
    background-color: #fff;
    color: #4D3F8F;
    border-color: #4D3F8F;
}

.user-card img {
    width: 100%; /* Largura desejada */
    height: 120px; /* Altura desejada */
    object-fit: cover; /* Evita distorções e mantém a proporção */
}
.tcc-card img {
    width: 100%; /* Largura desejada */
    height: 120px; /* Altura desejada */
    object-fit: cover;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .user-card,
    .tcc-card {
        width: calc(50% - 20px); /* Ajuste a largura para telas menores */
    }
}


.user-card-2 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 120px; /* Defina o tamanho máximo */
    width: 100%; /* Garanta que os cards ocupem toda a largura máxima */
    font-size: 12px;
}
.user-card-2 img {
    width: 100%; /* Largura desejada */
    height: 100px; /* Altura desejada */
    object-fit: cover; /* Evita distorções e mantém a proporção */
}