#imagem-preview {
    width: 150px; /* Largura desejada */
    height: 180px; /* Altura desejada */
    object-fit: cover; /* Evita distorções e mantém a proporção */
}
main {
    flex-grow: 1; 
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    padding: 50px;
    width: 65%;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: fit-content;
}
.row {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.autores a, .part a {
    text-decoration: none;
    color: #4D3F8F;
    font-weight: bold;
}

.autores a:hover, .part a:hover {
    text-decoration: underline;
}

.topr {
    align-self: center;
}

.button a {
    display: block;
    text-align: center;
    font-size: 1.05em;
    background-color: #4D3F8F;
    width: 150px;
    padding: 10px 0px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.button a:hover {
    background-color: #fff;
    border: 1px solid #4D3F8F;
    color: #4D3F8F;
    transition: 0.2s;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.partbox{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part img {
    width: 100px; /* Largura desejada */
    height: 100px; /* Altura desejada */
    display: inline-flex;
    margin-right: 10px;
}


.botr {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

#descricaoContainer {
    max-height: 200px;
    word-wrap: break-word;
    max-width: 100%;
    overflow-y: hidden;
    text-align: justify;
    font-size: 0.95em;
    transition: max-height 0.5s ease-in-out; /* Adiciona uma transição suave */
}

#descricaoContainer.expandido {
    max-height: none; /* Se expandido, use a altura automática */
}

#lerMaisLink {
    display: block;
    text-align: left;
    cursor: pointer;
    color: #4D3F8F;
    font-weight: bold;
    transition: color 0.3s;
}

#lerMaisLink:hover {
    color: #78A1D1; /* Cor alterada no hover */
}

.odspart {
    width: 35%;
}

.imgods {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
    .topr {
        flex-wrap: wrap;
    }

    .topr  .fotocapa, .topr .detalhes-tcc, .topr .autores {
        width: 33%;
    }

    .botr {
        flex-direction: column;
    }

    .botr .partbox{
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
    }
    .partbox .part {
        width: 30%;
        justify-content: left;
        align-items: baseline;
    }
    .partbox .resumo{
        width: 65%;
    }
    .odspart {
        margin-top: 15px;
        width: 90%;
    }
}

@media screen and (max-width: 1060px){
    .botr .partbox {
        flex-direction: column;
    }
    .partbox .part{
        width: 100%;
        margin-top: 15px;
    }
    .topr{
        width: 100%;
    }
}