/* Estilos gerais para o HTML do TCC */
body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

form {
    flex-grow: 1;
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    padding: 50px;
    width: 85%;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.odst a {
  font-size: 1.2em;
}
.tcc-container {
    display: flex;
    justify-content: space-between;
}
.sbt2 {
  display: none;
}
/* Estilos para a coluna da esquerda (capa do TCC e botões) */
.left-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-column label, .left-column input, .left-column button, .left-column .add-colaboradores {
  width: 200px;
}
#uploadArquivo   {
  width: 100%;
}
.pdf {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.pdf img {
  height: 40px;
  width: 40px;
}
.buttons {
    text-align: center;
    margin-top: 20px;
}
.buttons a {
  color: #4D3F8F;
  text-decoration: none;
}
.buttons a:hover {
  text-decoration: underline;
}
/* Estilos para a coluna da direita (outros campos do formulário) */
.right-column {
    width: 65%;
}

/* Estilos para os elementos do formulário */
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    width: 48%; /* Defina a largura dos campos */
}

form label {
    margin-bottom: 8px;
}

form input[type="text"],
form textarea,
form select {
  margin: 6px 0;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.formresumo, .formresumo textarea{
  width: 100%;
}
.formresumo {
  height: 160px;
  margin-bottom: 15px;
}
.formresumo textarea {
  height: 160px;
  resize: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.formresumo textarea::-webkit-scrollbar {
  width: 8px;
}

.formresumo textarea::-webkit-scrollbar-track {
  background: #d2cbf5;
}

.formresumo textarea::-webkit-scrollbar-thumb {
  background: #7d6dc2;
}

.formresumo textarea::-webkit-scrollbar-thumb:hover {
  background: #4D3F8F;
}

/* Estilos para a capa do TCC */
#foto-perfil {
    text-align: center;
}

#imagem-preview {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.arquivoinput, .submit {
    display: block;
    text-align: center;
    font-size: 1.05em;
    background-color: #4d3f8f;
    width: 100%;
    padding: 10px 3px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.arquivoinput:hover, .submit:hover {
    background-color: #fff;
    color: #4D3F8F;
    border: 1px solid #4D3F8F
}
.arquivoTcc{
    display: none;
}



.error-text {
    display: none;
    color: #851923;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    background: #ffe3e5;
    border: 1px solid #dfa5ab;
    margin-bottom: 8px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 15%; /* Define a largura máxima para 8 itens por linha (100% / 8) */
    box-sizing: border-box; /* Inclui padding e borda na largura */
    margin-right: 4%; /* Espaço entre os itens (pode ajustar conforme necessário) */
  }
  
  .custom-checkbox input[type="checkbox"] {
    display: none; /* Oculta a checkbox real */
  }
  
  .custom-checkbox img {
    width: 100px; /* Largura desejada */
    height: 100px; /* Altura desejada */
    filter: grayscale(100%); /* Torna a imagem inicialmente em escala de cinza */
  }

  .custom-checkbox input[type="checkbox"]:checked + img {
    filter: grayscale(0%); /* Remove a escala de cinza quando a checkbox está marcada */
    scale: 1.1;
    animation: vibrateBlinkAndRotate 2s ease infinite;
  }
  
  .custom-checkbox input[type="checkbox"]:hover + img {
    filter: grayscale(0%); /* Remove a escala de cinza quando a checkbox está marcada */
    scale: 1.1;
  }
input:focus,
select:focus,
select:valid,
textarea:focus,
input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    border: 2px solid #4D3F8F;
} form  input:focus, form  input:valid, form  select:focus, form  select:valid{
    border: 2px solid #4D3F8F;
    transition: 0.1s ease;
    outline: none;
}
#linkArquivoInput {
  border: 1px solid #ccc;
}
#linkArquivoInput:not(:focus).valid {
  border: 2px solid #4D3F8F;
  transition: 0.1s ease;
  outline: none;
}

.semborda {
    border: 1px solid #ccc !important;
}
  .ods-row {
    background-color: rgb(250, 250, 250);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    max-height: 200px; /* Altura máxima para mostrar 2 linhas de 8 itens */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
  }

  .aviso {
    color: #da2638;
    animation: avisotremido 0.1s;
    animation-timing-function: 4;
  }
  /* Personalização da barra de rolagem vertical */
.ods-row::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }
  
  .ods-row::-webkit-scrollbar-track {
    background: #d2cbf5; 
  }
  
  .ods-row::-webkit-scrollbar-thumb {
    background: #7d6dc2; /* Cor da alça da barra de rolagem */
    border-radius: 6px; /* Borda arredondada da alça da barra de rolagem */
  }
  
  .ods-row::-webkit-scrollbar-thumb:hover {
    background: #4D3F8F; /* Cor da alça da barra de rolagem quando o mouse está sobre ela */
  }
  


  @keyframes vibrateBlinkAndRotate {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    25% {
      transform: translateX(-1px) rotate(1);
    }
    50% {
      transform: translateX(1px) rotate(-1deg);
    }
    75% {
      transform: translateX(-1px) rotate(1deg);
    }
  }
  @keyframes avisotremido{
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
  }
  .btnDeletar{

    background-color: rgb(225, 32, 32);
    text-align: center;
    font-size: 1.05em;
    width: 100%;
    padding: 10px 3px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
  }
  .btnDeletar:hover {
    background-color: #851923;
  }
  .inputautor {
    border: 1px solid #ccc;
  }
  .inputautor:not(:focus).valid {
    border: 2px solid #4D3F8F;
    transition: 0.1s ease;
    outline: none;
  }

@media screen and (max-width: 1300px){
  .custom-checkbox {
    width: 20%;
  }
}
@media screen and (max-width: 1000px) {
  form {
    width: 95%;
  }
}
@media screen and (max-width: 930px){
  .custom-checkbox {
    width: 25%;
  }
  .ods-row {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 820px){
  .form-row {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .ods-row {
    flex-direction: row;
  }
  .form-group {
    width: 80%;
  }
}

@media screen and (max-width: 730px){
  .sbt1 {
    display: none;
  }
  .sbt2 {
    display: block;
  }
  .tcc-container{
    flex-direction: column;
  }
  .left-column {
    width: 100%;
    margin-bottom: 15px;
  }
  .right-column {
    width: 100%;
  }
  .form-row {
    flex-direction: row;
    align-items: baseline;
  }
  .form-group {
    width: 45%;
  }
  .formresumo {
    width: 100%;
  }
}

@media screen and (max-width: 520px){
  .form-row {
    flex-direction: column;
  }
  .form-group{
    width: 100%;
  }
  .ods-row {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .custom-checkbox {
    width: 30%;
  }
}